ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DFDFDF;
}

li {
    margin: 0;
    padding: 0;
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #BD0000;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #BD0000;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.navbar-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.navbar-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar-dropdown a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .navbar-dropdown {
    display: block;
}

#navBar {
    margin: 0;
    padding: 0;
}

.authenticationLink {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 5px 20px 10px 10px;
    padding-top: 0;
    position: relative;
    float: right;
    top: 0;
    text-decoration: none;
    font-weight: bolder;
}

.authenticationLink:visited {
    color: #ffffff;
    font-weight: bolder;
}